/* General styles
  --------------------------------------------- */
$red: #FF4848;
$fontsize: 12px;
// h1 {
// 	color: $red	
// }
  

// p {
// 	color: darken($red, 10%);	
// }
  

body, html {
	overflow: hidden;
}

body {
	font: 100% / 1.5 Arial;
}

* {
	margin: 0;
	padding: 0;
}

.parallax {
	font-size: 200%;
}

/* centre the content in the parallax layers */
.title {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.footer {
	background-color: $red;
}

nav {
	position: fixed;
	z-index: 1;
}